<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JD_Electronics_Application.Properties.Settings.JD_COMPUTER_LOCAL_001ConnectionString"
            connectionString="Data Source=DESKTOP-8H5R6EE;Initial Catalog=JD_COMPUTER_LOCAL_001;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="JD_Electronics_Application.Properties.Settings.JD_COMPUTER_LOCAL_005ConnectionString"
            connectionString="Data Source=DESKTOP-UIDFTHQ;Initial Catalog=JD_COMPUTER_LOCAL_005;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>